<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/stylesheets/destyle.css" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=yes">
  <title>ログイン</title>
</head>

<body>
  <% if (flashMessages) { %>
    <% if (flashMessages.msg) { %>
      <div class="alert">
        <p class="alert-danger"><%= flashMessages.msg %></p>
      </div>
    <% } %>
  <% } %>
<form action="/login" method="post">
    <div>
      <label>ユーザーID：</label>
      <input type="text" class="form-item-style" name="username" autofocus />
    </div>
    <div>
      <label>パスワード：</label>
      <input type="password" class="form-item-style" name="password" />
    </div>
    <div>
      <input type="submit" value="ログイン" />
    </div>
  </form>
</body>

</html>